# Игнорируем node_modules, так как они будут установлены внутри контейнера
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Исключаем локальные файлы и конфигурации, которые не нужны для сборки
.env.local
.env.development
.env.test
.env.production.local

# Исключаем временные файлы и кэш
out
coverage
.vscode
.idea
.DS_Store

# Исключаем лог-файлы и файлы окружения
*.log
